streamlit
pandas
numpy
plotly
scipy
statsmodels
scikit-learn
openpyxl
pyarrow
fastparquet
xgboost
shap
joblib
dask[complete]
imbalanced-learn
lightgbm
ruff
ydata-profiling
pandera
matplotlib
reportlab